form.form.container(action='/signup' method='post')
  p.form__message= message
  label.form__label(for='username') Username: 
  input.form__input(type='text',id='username',name='username')
  span.form__message#usernameMessage
  br
  label.form__label(for='password') Password: 
  input.form__input(id='password', name='password', type='password')
  span.form__message#passwordMessage
  br
  label.form__label(for='passwordCheck') Verify Password: 
  input.form__input(id='passwordCheck', name='passwordCheck', type='password')
  span.form__message#passwordCheckMessage
  br
  button.form__button(type='submit') Sign Up