doctype html
html
include head.pug
body
  include menu.pug
  h1 Login
  p Accounts are reset on server restart from server/config/seed.js. Default account is test@test.com / test
  form(action='/login' method='post')
    p= message
    div
      label(for='username') Username:
      input(type='text',id='username',name='username')
      div.verifyUsername
    div
      label(for='password') Password:
      input(id='password', name='password')
    div.button
      button(type='submit') Login