div.menu-container
  a(href='/') BookSwap
  div
  if loggedIn
    a(href='/allbooks') All Books 
    a(href='/mybooks') My Books
    a(href='/profile') Profile
    a(href='/logout') Logout
  else
    a(href='/signup') Sign Up 
    a(href='/login') Login
