extends layout.pug

block content
  section.section.section--library
    h2 My Library
    div.container
      label(for='title') Add Book To My Library: 
      input(type='text', id='title', name='title')
      button.search-button Search
    div.container.container--library#library
  section.section.section--library.section--grey
    h2 My Requests
    div.container.container--library#outgoing-requests
  section.section.section--library
    h2 Requests From Others
    div.container.container--library#incoming-requests

block scripts
  script(type='text/javascript', src='common/ajax-functions.js')
  script(type='text/javascript', src='controllers/libraryController.client.js')
        