doctype html
html
  head
    include head.pug
  body
    include menu.pug
    p= message
    form(action='/profile' method='post')
      div
        span Username: 
          span= username
        div#profile-username
      div
        label(for='city') Full Name:
        input(id='fullName', name='fullName', value= fullName)
      div
        label(for='city') City:
        input(id='city', name='city', value= city)
      div
        label(for='state') State:
        input(id='state', name='state', value= state)
      div
        label(for='password') Change Password:
        input(id='password', name='password')
      div
        label(for='passwordCheck') Verify Password:
        input(id='passwordCheck', name='passwordCheck')
        div.verifyPassword
      button#update-button(type="submit") Update Profile
    