extends layout.pug

block content
  section.section.section--tall
    h2 Sign Up Form
    include partials/signupform.pug
    
block scripts
  script(type='text/javascript', src='common/form-functions.js')